* {
    margin: 0;
    padding: 0;
}


/*Importing Footer and NavBar and Recipe of the month CSS*/

@import "NavBar";
@import "Footer";
@import "Recipe";

/* Styling the main content*/

#container {
    margin: 5vh;
    display: grid;
    // grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh;
}

.element {
    position: relative;
    width: 100%;
    text-align: center;
}

.element img {
    height: 100%;
    width: 100%;
}

#second {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.619);
    width: 100%;
    bottom: 0;
    // height: 30%;
}

#para {
    color: white;
    font-size: 2vh;
    width: 100%;
    padding: 3vh 0;
}

#inputfield {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#inputfield p {
    font-weight: bold;
}


/*Media Querries for Phones and iPads*/

@media screen and (max-width: 480px) {
    #container {
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: 1fr;
        gap: 2vh;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #container {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 4vh;
    }
}