* {
  margin: 0;
  padding: 0;
}

/*Importing Footer and NavBar and Recipe of the month CSS*/
/*Sytyling the top Heading and the searchbar*/
.container-first-line {
  display: flex;
  padding: 7vh;
  justify-content: space-between;
  padding-top: 4vh;
  align-items: center;
  padding-bottom: 3vh;
}
.container-first-line h1 {
  font-family: "Great Vibes", cursive;
}

.searchbar svg {
  margin-left: 4vh;
}

.searchbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.heading {
  font-size: 2.3vh;
  font-style: italic;
}

.searchbar {
  font-size: 2.2vh;
}

/*Styling the navBar*/
.nav1 {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  overflow: hidden;
  height: 10vh;
  align-items: center;
  width: 100%;
}

.nav1 a {
  color: black;
  text-decoration: none;
  font-size: 1.6vh;
}

/*Styling the footer*/
footer {
  height: 10vh;
  background-color: black;
  margin-top: 10vh;
  overflow: hidden;
  text-align: center;
  padding-top: 1.5vh;
  padding-bottom: 3vh;
}

.footer {
  color: white;
  overflow: hidden;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-around;
}

.footer a {
  color: white;
  text-decoration: none;
}

.Copyright {
  display: flex;
  justify-content: center;
}

.Copyright p {
  padding-top: 2vh;
  color: white;
  padding-bottom: 0.5vh;
}

.symbols {
  display: flex;
  justify-content: center;
}

.fa-facebook {
  color: white;
  background: black;
  padding-right: 1vh;
}

.fa-youtube-play {
  color: white;
  background: black;
  padding-right: 1vh;
}

.fa-instagram {
  color: white;
  background: black;
  padding-right: 1vh;
}

/*Styling the recipe coontainer*/
.containerRecipe {
  width: 80vh;
  margin: auto;
  padding-left: 5vh;
  padding-right: 5vh;
  box-shadow: 0px 0px 1vh black;
  margin-top: 5vh;
}

#header {
  text-align: center;
  margin-bottom: 1vh;
}

.hero {
  text-align: center;
  background-color: #f4f4f4;
  padding-bottom: 1vh;
}

li {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

#header h1 {
  padding-top: 1vh;
}

#foodImage {
  padding-bottom: 2vh;
  width: 100%;
}

.h3 {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.bottomentry {
  padding-bottom: 2vh;
}

/*Media Quarries to adjust it for different screen sizes*/
@media screen and (max-width: 480px) {
  .containerRecipe {
    width: 30vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 880px) {
  .containerRecipe {
    width: 40vh;
  }
}
/* Styling the main content*/
#container {
  margin: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vh;
  margin-top: 8vh;
}

.element {
  position: relative;
  width: 100%;
  text-align: center;
}

.element img {
  height: 100%;
  width: 100%;
}

#second {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.619);
  width: 100%;
  bottom: 0;
}

#para {
  color: white;
  font-size: 2vh;
  width: 100%;
  padding: 3vh 0;
}

#inputfield {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#inputfield p {
  font-weight: bold;
}

.swiper {
  width: 85%;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#herosection {
  width: 100%;
  margin: 8vh auto;
  border-bottom: 1px solid black;
  height: 57vh;
}

/*Media Querries for Phones and iPads*/
@media screen and (max-width: 480px) {
  #container {
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
    gap: 2vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #container {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 4vh;
  }
}/*# sourceMappingURL=Food-Blog.css.map */